@model RenocanWeb.Models.Service_Category
@*@{
        ViewBag.Title = "Browse_Category";
    }*@


<body>
    <div class="overlay"></div>




    <div id="browse">
        <div class="content">
            <span class="title">Browse by Categories</span>
            <div class="alphabox" data-group="Companies">
                <div class="box browselink"><a href="">a</a></div>
                <div class="box browselink"><a href="">b</a></div>
                <div class="box browselink"><a href="">c</a></div>
                <div class="box browselink"><a href="">d</a></div>
                <div class="box browselink"><a href="">e</a></div>
                <div class="box browselink"><a href="">f</a></div>
                <div class="box browselink"><a href="">g</a></div>
                <div class="box browselink"><a href="">h</a></div>
                <div class="box browselink"><a href="">i</a></div>
                <div class="box browselink"><a href="">j</a></div>
                <div class="box browselink"><a href="">k</a></div>
                <div class="box browselink"><a href="">l</a></div>
                <div class="box browselink"><a href="">m</a></div>
                <div class="box browselink"><a href="">n</a></div>
                <div class="box browselink"><a href="">o</a></div>
                <div class="box browselink"><a href="">p</a></div>
                <div class="box browselink"><a href="">q</a></div>
                <div class="box browselink"><a href="">r</a></div>
                <div class="box browselink"><a href="">s</a></div>
                <div class="box browselink"><a href="">t</a></div>
                <div class="box browselink"><a href="">u</a></div>
                <div class="box browselink"><a href="">v</a></div>
                <div class="box browselink"><a href="">w</a></div>
                <div class="box browselink"><a href="">x</a></div>
                <div class="box browselink"><a href="">y</a></div>
                <div class="box browselink"><a href="">z</a></div>
            </div>

            <div id="categorysearchResult"></div>
            @*<div class="cat">
                <div class="box">
                    <span class="name">a</span>
                    <ul>
                        <li><a href="">Air Conditioners</a></li>
                        <li><a href="">Air Duct Cleaning</a></li>
                        <li><a href="">Air Filtration Systems</a></li>
                        <li><a href="">Antiques Deals &amp; Retailers</a></li>
                        <li><a href="">Appliance Repair</a></li>
                        <li><a href="">Appliance Sales</a></li>
                        <li><a href="">Aquariums &amp; Aquarium Services</a></li>
                        <li><a href="">Architects</a></li>
                        <li><a href="">Art and Print</a></li>
                        <li><a href="">Art Metal Work</a></li>
                        <li><a href="">Arts &amp; Entertainment</a></li>
                        <li><a href="">Asbestos &amp; Lead Removal</a></li>
                        <li><a href="">Auto Sales &amp; Repair Services</a></li>
                        <li><a href="">Awnings &amp; Canopies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">b</span>
                    <ul>
                        <li><a href="">Basement Renovation</a></li>
                        <li><a href="">Bathroom &amp; Kitchen Remodeling</a></li>
                        <li><a href="">Bathroom Renovation</a></li>
                        <li><a href="">BBQ Equipment &amp; Service</a></li>
                        <li><a href="">Bedding and Linens</a></li>
                        <li><a href="">Blinds Cleaning &amp; Services</a></li>
                        <li><a href="">Boilers</a></li>
                        <li><a href="">Builders</a></li>
                        <li><a href="">Buildings Hardware &amp; Supplies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">c</span>
                    <ul>
                        <li><a href="">Cabinetry &amp; Millwork</a></li>
                        <li><a href="">Carpenters</a></li>
                        <li><a href="">Carpet &amp; Rug Cleaning &amp; Repairing</a></li>
                        <li><a href="">Carpet &amp; Rug Sales and Installation</a></li>
                        <li><a href="">Chimney Build &amp; Repair</a></li>
                        <li><a href="">Chimney Cleaning</a></li>
                        <li><a href="">Closet &amp; Storage Solutions</a></li>
                        <li><a href="">Computer Sales and Repairs</a></li>
                        <li><a href="">Concrete Contractors</a></li>
                        <li><a href="">Condominium Renovations</a></li>
                        <li><a href="">Construction &amp; Building Management</a></li>
                        <li><a href="">Countertops &amp; Backsplashes</a></li>
                    </ul>
                </div>
            </div>
            <div class="cat">
                <div class="box">
                    <span class="name">a</span>
                    <ul>
                        <li><a href="">Air Conditioners</a></li>
                        <li><a href="">Air Duct Cleaning</a></li>
                        <li><a href="">Air Filtration Systems</a></li>
                        <li><a href="">Antiques Deals &amp; Retailers</a></li>
                        <li><a href="">Appliance Repair</a></li>
                        <li><a href="">Appliance Sales</a></li>
                        <li><a href="">Aquariums &amp; Aquarium Services</a></li>
                        <li><a href="">Architects</a></li>
                        <li><a href="">Art and Print</a></li>
                        <li><a href="">Art Metal Work</a></li>
                        <li><a href="">Arts &amp; Entertainment</a></li>
                        <li><a href="">Asbestos &amp; Lead Removal</a></li>
                        <li><a href="">Auto Sales &amp; Repair Services</a></li>
                        <li><a href="">Awnings &amp; Canopies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">b</span>
                    <ul>
                        <li><a href="">Basement Renovation</a></li>
                        <li><a href="">Bathroom &amp; Kitchen Remodeling</a></li>
                        <li><a href="">Bathroom Renovation</a></li>
                        <li><a href="">BBQ Equipment &amp; Service</a></li>
                        <li><a href="">Bedding and Linens</a></li>
                        <li><a href="">Blinds Cleaning &amp; Services</a></li>
                        <li><a href="">Boilers</a></li>
                        <li><a href="">Builders</a></li>
                        <li><a href="">Buildings Hardware &amp; Supplies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">c</span>
                    <ul>
                        <li><a href="">Cabinetry &amp; Millwork</a></li>
                        <li><a href="">Carpenters</a></li>
                        <li><a href="">Carpet &amp; Rug Cleaning &amp; Repairing</a></li>
                        <li><a href="">Carpet &amp; Rug Sales and Installation</a></li>
                        <li><a href="">Chimney Build &amp; Repair</a></li>
                        <li><a href="">Chimney Cleaning</a></li>
                        <li><a href="">Closet &amp; Storage Solutions</a></li>
                        <li><a href="">Computer Sales and Repairs</a></li>
                        <li><a href="">Concrete Contractors</a></li>
                        <li><a href="">Condominium Renovations</a></li>
                        <li><a href="">Construction &amp; Building Management</a></li>
                        <li><a href="">Countertops &amp; Backsplashes</a></li>
                    </ul>
                </div>
            </div>
            <div class="cat">
                <div class="box">
                    <span class="name">a</span>
                    <ul>
                        <li><a href="">Air Conditioners</a></li>
                        <li><a href="">Air Duct Cleaning</a></li>
                        <li><a href="">Air Filtration Systems</a></li>
                        <li><a href="">Antiques Deals &amp; Retailers</a></li>
                        <li><a href="">Appliance Repair</a></li>
                        <li><a href="">Appliance Sales</a></li>
                        <li><a href="">Aquariums &amp; Aquarium Services</a></li>
                        <li><a href="">Architects</a></li>
                        <li><a href="">Art and Print</a></li>
                        <li><a href="">Art Metal Work</a></li>
                        <li><a href="">Arts &amp; Entertainment</a></li>
                        <li><a href="">Asbestos &amp; Lead Removal</a></li>
                        <li><a href="">Auto Sales &amp; Repair Services</a></li>
                        <li><a href="">Awnings &amp; Canopies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">b</span>
                    <ul>
                        <li><a href="">Basement Renovation</a></li>
                        <li><a href="">Bathroom &amp; Kitchen Remodeling</a></li>
                        <li><a href="">Bathroom Renovation</a></li>
                        <li><a href="">BBQ Equipment &amp; Service</a></li>
                        <li><a href="">Bedding and Linens</a></li>
                        <li><a href="">Blinds Cleaning &amp; Services</a></li>
                        <li><a href="">Boilers</a></li>
                        <li><a href="">Builders</a></li>
                        <li><a href="">Buildings Hardware &amp; Supplies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">c</span>
                    <ul>
                        <li><a href="">Cabinetry &amp; Millwork</a></li>
                        <li><a href="">Carpenters</a></li>
                        <li><a href="">Carpet &amp; Rug Cleaning &amp; Repairing</a></li>
                        <li><a href="">Carpet &amp; Rug Sales and Installation</a></li>
                        <li><a href="">Chimney Build &amp; Repair</a></li>
                        <li><a href="">Chimney Cleaning</a></li>
                        <li><a href="">Closet &amp; Storage Solutions</a></li>
                        <li><a href="">Computer Sales and Repairs</a></li>
                        <li><a href="">Concrete Contractors</a></li>
                        <li><a href="">Condominium Renovations</a></li>
                        <li><a href="">Construction &amp; Building Management</a></li>
                        <li><a href="">Countertops &amp; Backsplashes</a></li>
                    </ul>
                </div>
            </div>
            <div class="cat">
                <div class="box">
                    <span class="name">a</span>
                    <ul>
                        <li><a href="">Air Conditioners</a></li>
                        <li><a href="">Air Duct Cleaning</a></li>
                        <li><a href="">Air Filtration Systems</a></li>
                        <li><a href="">Antiques Deals &amp; Retailers</a></li>
                        <li><a href="">Appliance Repair</a></li>
                        <li><a href="">Appliance Sales</a></li>
                        <li><a href="">Aquariums &amp; Aquarium Services</a></li>
                        <li><a href="">Architects</a></li>
                        <li><a href="">Art and Print</a></li>
                        <li><a href="">Art Metal Work</a></li>
                        <li><a href="">Arts &amp; Entertainment</a></li>
                        <li><a href="">Asbestos &amp; Lead Removal</a></li>
                        <li><a href="">Auto Sales &amp; Repair Services</a></li>
                        <li><a href="">Awnings &amp; Canopies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">b</span>
                    <ul>
                        <li><a href="">Basement Renovation</a></li>
                        <li><a href="">Bathroom &amp; Kitchen Remodeling</a></li>
                        <li><a href="">Bathroom Renovation</a></li>
                        <li><a href="">BBQ Equipment &amp; Service</a></li>
                        <li><a href="">Bedding and Linens</a></li>
                        <li><a href="">Blinds Cleaning &amp; Services</a></li>
                        <li><a href="">Boilers</a></li>
                        <li><a href="">Builders</a></li>
                        <li><a href="">Buildings Hardware &amp; Supplies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">c</span>
                    <ul>
                        <li><a href="">Cabinetry &amp; Millwork</a></li>
                        <li><a href="">Carpenters</a></li>
                        <li><a href="">Carpet &amp; Rug Cleaning &amp; Repairing</a></li>
                        <li><a href="">Carpet &amp; Rug Sales and Installation</a></li>
                        <li><a href="">Chimney Build &amp; Repair</a></li>
                        <li><a href="">Chimney Cleaning</a></li>
                        <li><a href="">Closet &amp; Storage Solutions</a></li>
                        <li><a href="">Computer Sales and Repairs</a></li>
                        <li><a href="">Concrete Contractors</a></li>
                        <li><a href="">Condominium Renovations</a></li>
                        <li><a href="">Construction &amp; Building Management</a></li>
                        <li><a href="">Countertops &amp; Backsplashes</a></li>
                    </ul>
                </div>
            </div>
            <div class="cat">
                <div class="box">
                    <span class="name">a</span>
                    <ul>
                        <li><a href="">Air Conditioners</a></li>
                        <li><a href="">Air Duct Cleaning</a></li>
                        <li><a href="">Air Filtration Systems</a></li>
                        <li><a href="">Antiques Deals &amp; Retailers</a></li>
                        <li><a href="">Appliance Repair</a></li>
                        <li><a href="">Appliance Sales</a></li>
                        <li><a href="">Aquariums &amp; Aquarium Services</a></li>
                        <li><a href="">Architects</a></li>
                        <li><a href="">Art and Print</a></li>
                        <li><a href="">Art Metal Work</a></li>
                        <li><a href="">Arts &amp; Entertainment</a></li>
                        <li><a href="">Asbestos &amp; Lead Removal</a></li>
                        <li><a href="">Auto Sales &amp; Repair Services</a></li>
                        <li><a href="">Awnings &amp; Canopies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">b</span>
                    <ul>
                        <li><a href="">Basement Renovation</a></li>
                        <li><a href="">Bathroom &amp; Kitchen Remodeling</a></li>
                        <li><a href="">Bathroom Renovation</a></li>
                        <li><a href="">BBQ Equipment &amp; Service</a></li>
                        <li><a href="">Bedding and Linens</a></li>
                        <li><a href="">Blinds Cleaning &amp; Services</a></li>
                        <li><a href="">Boilers</a></li>
                        <li><a href="">Builders</a></li>
                        <li><a href="">Buildings Hardware &amp; Supplies</a></li>
                    </ul>
                </div>
                <div class="box">
                    <span class="name">c</span>
                    <ul>
                        <li><a href="">Cabinetry &amp; Millwork</a></li>
                        <li><a href="">Carpenters</a></li>
                        <li><a href="">Carpet &amp; Rug Cleaning &amp; Repairing</a></li>
                        <li><a href="">Carpet &amp; Rug Sales and Installation</a></li>
                        <li><a href="">Chimney Build &amp; Repair</a></li>
                        <li><a href="">Chimney Cleaning</a></li>
                        <li><a href="">Closet &amp; Storage Solutions</a></li>
                        <li><a href="">Computer Sales and Repairs</a></li>
                        <li><a href="">Concrete Contractors</a></li>
                        <li><a href="">Condominium Renovations</a></li>
                        <li><a href="">Construction &amp; Building Management</a></li>
                        <li><a href="">Countertops &amp; Backsplashes</a></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>


</body>
<script type="text/javascript">
    
        function getCategories(letter) {            
        $.ajax({
            async: true,
            type: 'GET',
            cache: false,
            data: { CategoryLetter: letter },
            dataType: 'html',   //response format
            contentType: 'application/json; charset=utf-8', //request format
            crossDomain: true,
            url: '@Url.Action("_Categories")',
            success: function (data) {
                debugger

                $('#categorysearchResult').html(data);
                //$('#modal-AddScreen').modal('show');
                //$('.modal-body').height($('.col-md-12.AddScreen').height() + 10);
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }

        $('.browselink').click(function () {
           // $(event).stopPropagation();
            var letter = $(this).find('a').text();
            getCategories(letter);
        });

    $(document).ready(function () {
        
        //$("body").delegate("#btnDelete", "click", function () {
        //    $.ajax({
        //        async: true,
        //        type: 'POST',
        //        cache: false,
        //        data: { Id: UnitLocationId },
        //        url: AdminVD + '/Catalog/DeleteRoleScreen',
        //        success: function (data) {
        //            if (data == "success") {
        //                Helper.Methods.ShowPopUp('Success', 'Screen deleted successfully!');
        //                setTimeout(function () {
        //                    location.reload();
        //                }, 500);
        //            }
        //        }
        //    });
        //});


    });
</script>