@model RenocanWeb.Models.RegistrationCompany
@*@{
        ViewBag.Title = "Business Create Password";
    }*@

<body>
  

    <div id="signing">
        <div class="content">
            <form action="">
                <p>Please Enter your New Password</p>
                <fieldset>
                    <label for="">Password</label>
                    <input type="password">
                </fieldset>
                <fieldset>
                    <label for="">Confirm Password</label>
                    <input type="password">
                </fieldset>
                <input type="submit" value="Create New Password">
                <div class="error"><span><i class="fa fa-times"></i> Password Do Not Match</span></div>
            </form>
        </div>
    </div>
</body>


