@model RenocanWeb.Models.RegistrationCompany
@*@{
        ViewBag.Title = "BusinesssCity";
    }*@


<body>
   
    <div id="cities">
        <div class="content">
            <span>Select City:</span>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li><a href="">Barrie</a></li>
                        <li><a href="">Belleville</a></li>
                        <li><a href="">Brampton</a> <i class="fa fa-map-marker"></i> </li>
                        <li><a href="">Brant</a></li>
                        <li><a href="">Brantford</a></li>
                        <li><a href="">Brockville</a></li>
                        <li><a href="">Burlington</a></li>
                        <li><a href="">Cambridge</a></li>
                        <li><a href="">Clarence-Rockland</a></li>
                        <li><a href="">Cornwall</a></li>
                        <li><a href="">Dryden</a></li>
                        <li><a href="">Elliot Lake</a></li>
                        <li><a href="">Greater Sudbury</a></li>
                        <li><a href="">Guelph</a></li>
                        <li><a href="">Haldimand County</a></li>
                        <li><a href="">Hamilton</a></li>
                        <li><a href="">Kawartha Lakes</a></li>
                        <li><a href="">Kenora</a></li>
                        <li><a href="">Kingston</a></li>
                        <li><a href="">Kitchener</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li><a href="">London</a></li>
                        <li><a href="">Markham</a></li>
                        <li><a href="">Mississauga</a></li>
                        <li><a href="">Niagara Falls</a></li>
                        <li><a href="">Norfolk County</a></li>
                        <li><a href="">North Bay</a></li>
                        <li><a href="">Orillia</a></li>
                        <li><a href="">Oshawa</a></li>
                        <li><a href="">Ottawa</a></li>
                        <li><a href="">Owen Sound</a></li>
                        <li><a href="">Pembroke</a></li>
                        <li><a href="">Peterborough</a></li>
                        <li><a href="">Pickering</a></li>
                        <li><a href="">Port Colborne</a></li>
                        <li><a href="">Prince Edward County</a></li>
                        <li><a href="">Quinte West</a></li>
                        <li><a href="">Sarnia</a></li>
                        <li><a href="">Sault Ste. Marie</a></li>
                        <li><a href="">St. Catharines</a></li>
                        <li><a href="">St. Thomas</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li><a href="">Stratford</a></li>
                        <li><a href="">Temiskaming Shores</a></li>
                        <li><a href="">Thorold</a></li>
                        <li><a href="">Thunder Bay</a></li>
                        <li><a href="">Timmins</a></li>
                        <li><a href="">Toronto</a></li>
                        <li><a href="">Vaughan</a></li>
                        <li><a href="">Waterloo</a></li>
                        <li><a href="">Welland</a></li>
                        <li><a href="">Windsor</a></li>
                        <li><a href="">Woodstock</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <hr>


</body>
