
@model RenocanWeb.Models.RegistrationCompany

@*@{
        ViewBag.Title = "Client_job_request_details";
    }*@

<body>
    <div class="overlay"></div>
    <div id="jobrequest">
        <div class="content">
            <span>Job Requests</span>
            <p>All job requests from Users displays here</p>

            <a href=""><i class="fa fa-angle-left">  @Html.ActionLink("Job Request", "Client_job_request", "ClientAccount")&nbsp; &nbsp;</i></a>

            <div class="details">
                <div class="image">
                    <img src="~/Assets/images/user-profile-img.jpg" alt="">
                </div>
                <div class="name">
                    <span>David Thompson</span>
                    <p>Jan 17th 2017</p>
                </div>

                <ul>
                    <li>Topic: Insulation</li>
                    <li>Location: <a href=""><i class="fa fa-map-marker"></i> Scarbrough</a></li>
                    <li>Phone: <a href="">519-528-9965</a></li>
                </ul>

                <p>Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose. </p>

                <form action="">
                    <textarea name="" id="" cols="30" rows="5" placeholder="Write your reply here..."></textarea>
                    <input type="submit" value="Send">
                    <input type="reset" value="Cancel">
                </form>

            </div>


        </div>
    </div>


</body>
