@model RenocanWeb.Models.RegistrationCompany
@*@{
        ViewBag.Title = "Companyprofile";
    }*@
<body>
    <div id="companyprofile">
        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Categories</a></li>
                            <li><a href="">Bathroom Renovation</a></li>
                            <li>Unilever Pvt Ltd.</li>
                        </ul>
                    </div>

                    <div class="companybox">
                        <div class="favorite">
                            <a href=""><i class="fa fa-bookmark-o"></i></a>
                            <!--<a href=""><i class="fa fa-bookmark"></i></a>-->
                        </div>
                        <div class="img">
                            <img src="~/Assets/images/company-logo-06.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Unilever Private Ltd.</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="total"><span>Total Reviews:</span> 470</div>
                                <div class="badge bronze"><i class="fa fa-certificate"></i> Rising Contractor</div>
                            </div>
                            <div class="contact">
                                <ul>
                                    <li><a href="" id="getaquote"><i class="fa fa-comment"></i> Get a Quote</a></li>
                                    <li><a href=""><i class="fa fa-phone"></i> Phone</a></li>
                                    <li><a href=""><i class="fa fa-envelope"></i> Email</a></li>
                                    <li><a href=""><i class="fa fa-globe"></i> Website</a></li>
                                    <li><a href=""><i class="fa fa-edit"></i>
                                    <li><i class="fa fa-comments"></i> @Html.ActionLink("Reviews", "Reviews", "Business_Home")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="desc">
                            At Unilever we meet everyday needs for nutrition, hygiene and personal care with brands that help people feel good, look good and get more out of life.
                        </div>
                    </div>

                    <div class="media">
                        <span>Photo &amp; Video Gallery</span>
                        <section>
                            <div>
                                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                    <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt="" />
                                </a>
                                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
                                    <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" />
                                </a>
                                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing.">
                                    <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" />
                                </a>
                                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
                                    <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" />
                                </a>
                                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
                                    <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" />
                                </a>
                                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
                                    <iframe width="138" height="138" src="https://www.youtube.com/embed/n4qojmUriS0" frameborder="0" allowfullscreen></iframe>
                                </a>
                            </div>
                        </section>
                    </div>

                    <div class="box">
                        <div class="img">
                            <img src="~/Assets/images/user-profile-img.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Juanita Houston</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="tag"><span class="fa fa-compass"></span> Toronto, ON</div>
                                <div class="tag"><span class="fa fa-calendar"></span> 22 July 2016</div>
                                <div class="tag"><span class="fa fa-dollar"></span> View Job Price</div>
                                <div class="badge green"><i class="fa fa-user"></i> Verified</div>
                            </div>
                        </div>
                        <div class="desc">
                            <span>Basement Renovation review in Vaughan</span>
                            <p>The main reason I ended up using this company is because they were able to come on short notice and the plumber would review work with me and take instructions from me over the phone (other companies insisted I be at home, and would not accept our nanny being there). The work was also well done. That kind of service is hard to find. But it comes at a cost - they are definitely not cheap. Having said that, I will still use them again because I think their service is worth the cost.</p>
                        </div>
                        <div class="helpful">Was this Review Helpful? <a href="">Yes (0)</a> <a href="">No (0)</a></div>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook-official"></i></a>
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </div>

                        <div class="response">
                            <span><i class="fa fa-reply"></i> Company's Response</span>
                            <p>Thank you so much, Wishing you and your family all the best in 2017, Ben &amp; Dan</p>
                        </div>

                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="~/Assets/images/user-profile-img.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Juanita Houston</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="tag"><span class="fa fa-compass"></span> Toronto, ON</div>
                                <div class="tag"><span class="fa fa-calendar"></span> 22 July 2016</div>
                                <div class="tag"><span class="fa fa-dollar"></span> View Job Price</div>
                                <div class="badge yellow"><i class="fa fa-user"></i> Pending</div>
                            </div>
                        </div>
                        <div class="desc">
                            <span>Basement Renovation review in Vaughan</span>
                            <p>The main reason I ended up using this company is because they were able to come on short notice and the plumber would review work with me and take instructions from me over the phone (other companies insisted I be at home, and would not accept our nanny being there). The work was also well done. That kind of service is hard to find. But it comes at a cost - they are definitely not cheap. Having said that, I will still use them again because I think their service is worth the cost.</p>
                        </div>
                        <div class="helpful">Was this Review Helpful? <a href="">Yes (0)</a> <a href="">No (0)</a></div>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook-official"></i></a>
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </div>

                        <div class="response">
                            <span><i class="fa fa-reply"></i> Company's Response</span>
                            <p>Thank you so much, Wishing you and your family all the best in 2017, Ben &amp; Dan</p>
                        </div>

                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="~/Assets/images/user-profile-img.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Juanita Houston</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="tag"><span class="fa fa-compass"></span> Toronto, ON</div>
                                <div class="tag"><span class="fa fa-calendar"></span> 22 July 2016</div>
                                <div class="tag"><span class="fa fa-dollar"></span> View Job Price</div>
                                <div class="badge orange"><i class="fa fa-user"></i> Flagged</div>
                            </div>
                        </div>
                        <div class="desc">
                            <span>Basement Renovation review in Vaughan</span>
                            <p>The main reason I ended up using this company is because they were able to come on short notice and the plumber would review work with me and take instructions from me over the phone (other companies insisted I be at home, and would not accept our nanny being there). The work was also well done. That kind of service is hard to find. But it comes at a cost - they are definitely not cheap. Having said that, I will still use them again because I think their service is worth the cost.</p>
                        </div>
                        <div class="helpful">Was this Review Helpful? <a href="">Yes (0)</a> <a href="">No (0)</a></div>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook-official"></i></a>
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </div>

                        <div class="response">
                            <span><i class="fa fa-reply"></i> Company's Response</span>
                            <p>Thank you so much, Wishing you and your family all the best in 2017, Ben &amp; Dan</p>
                        </div>

                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="~/Assets/images/user-profile-img.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Juanita Houston</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="tag"><span class="fa fa-compass"></span> Toronto, ON</div>
                                <div class="tag"><span class="fa fa-calendar"></span> 22 July 2016</div>
                                <div class="tag"><span class="fa fa-dollar"></span> View Job Price</div>
                                <div class="badge green"><i class="fa fa-user"></i> Verified</div>
                            </div>
                        </div>
                        <div class="desc">
                            <span>Basement Renovation review in Vaughan</span>
                            <p>The main reason I ended up using this company is because they were able to come on short notice and the plumber would review work with me and take instructions from me over the phone (other companies insisted I be at home, and would not accept our nanny being there). The work was also well done. That kind of service is hard to find. But it comes at a cost - they are definitely not cheap. Having said that, I will still use them again because I think their service is worth the cost.</p>
                        </div>
                        <div class="helpful">Was this Review Helpful? <a href="">Yes (0)</a> <a href="">No (0)</a></div>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook-official"></i></a>
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </div>

                        <div class="response">
                            <span><i class="fa fa-reply"></i> Company's Response</span>
                            <p>Thank you so much, Wishing you and your family all the best in 2017, Ben &amp; Dan</p>
                        </div>

                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="~/Assets/images/user-profile-img.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Juanita Houston</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="tag"><span class="fa fa-compass"></span> Toronto, ON</div>
                                <div class="tag"><span class="fa fa-calendar"></span> 22 July 2016</div>
                                <div class="tag"><span class="fa fa-dollar"></span> View Job Price</div>
                                <div class="badge green"><i class="fa fa-user"></i> Verified</div>
                            </div>
                        </div>
                        <div class="desc">
                            <span>Basement Renovation review in Vaughan</span>
                            <p>The main reason I ended up using this company is because they were able to come on short notice and the plumber would review work with me and take instructions from me over the phone (other companies insisted I be at home, and would not accept our nanny being there). The work was also well done. That kind of service is hard to find. But it comes at a cost - they are definitely not cheap. Having said that, I will still use them again because I think their service is worth the cost.</p>
                        </div>
                        <div class="helpful">Was this Review Helpful? <a href="">Yes (0)</a> <a href="">No (0)</a></div>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook-official"></i></a>
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </div>

                        <div class="response">
                            <span><i class="fa fa-reply"></i> Company's Response</span>
                            <p>Thank you so much, Wishing you and your family all the best in 2017, Ben &amp; Dan</p>
                        </div>

                    </div>
                    <div class="box">
                        <div class="img">
                            <img src="~/Assets/images/user-profile-img.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="name">Juanita Houston</div>
                            <div class="review">
                                <div class="stars"><i class="fa fa-star"></i> 9 <span>/10</span></div>
                                <div class="tag"><span class="fa fa-compass"></span> Toronto, ON</div>
                                <div class="tag"><span class="fa fa-calendar"></span> 22 July 2016</div>
                                <div class="tag"><span class="fa fa-dollar"></span> View Job Price</div>
                                <div class="badge green"><i class="fa fa-user"></i> Verified</div>
                            </div>
                        </div>
                        <div class="desc">
                            <span>Basement Renovation review in Vaughan</span>
                            <p>The main reason I ended up using this company is because they were able to come on short notice and the plumber would review work with me and take instructions from me over the phone (other companies insisted I be at home, and would not accept our nanny being there). The work was also well done. That kind of service is hard to find. But it comes at a cost - they are definitely not cheap. Having said that, I will still use them again because I think their service is worth the cost.</p>
                        </div>
                        <div class="helpful">Was this Review Helpful? <a href="">Yes (0)</a> <a href="">No (0)</a></div>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook-official"></i></a>
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </div>

                        <div class="response">
                            <span><i class="fa fa-reply"></i> Company's Response</span>
                            <p>Thank you so much, Wishing you and your family all the best in 2017, Ben &amp; Dan</p>
                        </div>

                    </div>
                    <div class="load"><a href=""><i class="fa fa-spinner"></i> Load More</a></div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="rightpanel">
                        <div class="filter">
                            <span>Sort Reviews by:</span>
                            <label for=""><input type="radio"> Most Relevant</label>
                            <label for=""><input type="radio"> Most Recent</label>
                            <label for=""><input type="radio"> Verified Reviews</label>
                            <label for=""><input type="radio"> Highest to Lowest</label>
                            <label for=""><input type="radio"> Lowest to Highest</label>
                        </div>
                        <div class="score">
                            <div class="star">
                                <span class="head">Overall Score</span>
                                <span class="rating"><strong><i class="fa fa-star"></i> 9</strong>/10</span>
                            </div>
                            <div class="bars">
                                <span class="head">Scores</span>
                                <p>Average Ratings</p>
                                <div class="meter">
                                    <span style="width:25%;"></span>
                                </div>
                                <p>Recency</p>
                                <div class="meter">
                                    <span style="width:45%;"></span>
                                </div>
                                <p>Reputation</p>
                                <div class="meter">
                                    <span style="width:55%;"></span>
                                </div>
                                <p>Response</p>
                                <div class="meter">
                                    <span style="width:35%;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.8283735573773!2d67.09975001508849!3d24.93791598401733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb338b1bc755f29%3A0x724a58f4162cbade!2sEureka*21+English+Language+Maskan+Abul+Hassan+Isphani+Road!5e0!3m2!1sen!2s!4v1483977772245" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <span>Service Area</span>
                            <span><a href=""><i class="fa fa-map-marker"></i> Scarborough</a></span>
                        </div>
                        <div class="newsletter">
                            <span class="title">Want to be the first to know everything? <br><u>Join our newsletter.</u></span>
                            <form action="">
                                <input type="text" placeholder="Enter your Email...">
                                <input type="submit" value="Subscribe">
                                <p>Plus, instant access to our exclusive guide: “Make the Right Choice: A 10-Minute Guide to Not Messing Up Your Next Purchase”.</p>
                            </form>
                        </div>
                        <div class="aboutus">
                            <span class="title">We are RenoCan.com</span>
                            <p>We find the best of everything. How? We start with the world. We narrow down our list with expert insight and cut anything that doesn't meet our standards. We hand-test the finalists. Then, we name our top picks.</p>
                            <a href="">Learn More About Us</a>
                        </div>
                        <div class="topcat">
                            <span class="heading">Top Categories</span>
                            <span class="title">Decorators &amp; Designers</span>
                            <ul>
                                <li><a href="">Art &amp; Print</a></li>
                                <li><a href="">Bedding &amp; Linens</a></li>
                                <li><a href="">Interior Decorators</a></li>
                                <li><a href="">Interior Design</a></li>
                                <li><a href="">Home Staging</a></li>
                                <li><a href="">Game Rooms, Entertainment</a></li>
                                <li><a href="">Art &amp; Print</a></li>
                            </ul>
                            <span class="title">House Painters</span>
                            <ul>
                                <li><a href="">Art &amp; Print</a></li>
                                <li><a href="">Bedding &amp; Linens</a></li>
                                <li><a href="">Interior Decorators</a></li>
                                <li><a href="">Interior Design</a></li>
                                <li><a href="">Home Staging</a></li>
                                <li><a href="">Game Rooms, Entertainment</a></li>
                                <li><a href="">Art &amp; Print</a></li>
                            </ul>
                            <span class="title">Window Treatments</span>
                            <ul>
                                <li><a href="">Art &amp; Print</a></li>
                                <li><a href="">Bedding &amp; Linens</a></li>
                                <li><a href="">Interior Decorators</a></li>
                                <li><a href="">Interior Design</a></li>
                                <li><a href="">Home Staging</a></li>
                                <li><a href="">Game Rooms, Entertainment</a></li>
                                <li><a href="">Art &amp; Print</a></li>
                            </ul>
                            <a href="" class="link">View All Categories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="info">
                        <h1>Unilever Pvt Ltd.</h1>
                        <p>
                            At Chicasa Design, we believe in transforming your house into a dream home. We have a team of professionals who work hard to bring your ideas to life. We strive for a renovation that is high-quality, hassle-free and within your budget and time.
                            Home Remodeling for Seniors and Individuals with Disabilities
                            It is crucial for seniors or individuals living with disabilities to have a home that is comfortable, safe and accessible to accommodate their specific needs. At Chicasa Design, we can remodel your home to make it more accessible for your convenience while maintaining safety standards.
                        </p>

                        <ul>
                            <li>
                                <span>Categories</span>
                                <p><a href="">Bathroom Renovation</a>,<a href="">Kitchen Planning &amp; Renovation</a>,<a href="">Basement Renovation</a></p>
                            </li>
                            <li>
                                <span>Products</span>
                                <p>Custom Wood-Work, Kitchen, Vanity, Millwork, Wall Unit, Reception Desk, Hardwood, Electrical, Pot-lights, Rope Light, Plumbing services &amp; Fixtures, Heating &amp; Cooling, Custom Stone, Mantels, Counter-tops, Quartz, Marble, Granite, Porcelain, Tiling</p>
                            </li>
                            <li>
                                <span>Services</span>
                                <p>Design &amp; Build, Residential Renovation, Commercials Renovation, Condo Renovation, Office Renovation, General Contractors, Kitchen Renovation, Bathroom Renovation, Custom Build, Hvac Contractor, Plumbing Contractor, Lighting Contractor, Painting Contractor</p>
                            </li>
                            <li>
                                <span>Brands</span>
                                <p>We use top quality premium brands and products for every one of our projects, from small to big.</p>
                            </li>
                            <li>
                                <span>Specialities</span>
                                <p>Design/Project Management, General Contractors, Home Renovation, Home Additions, Basement Renovation, Condominium Renovation, Office Renovation, Kitchen Renovation, Bathroom Renovation, Fixtures &amp; Accessories, Cabinets &amp; Design, Tile &amp; Stone, 3D Design, Architects, Staging, Custom Build</p>
                            </li>
                            <li>
                                <span>Website</span>
                                <p><a href="">www.Uniliver.com</a></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>Year Established</span>
                                <p>1987</p>
                            </li>
                            <li>
                                <span>Return Policy</span>
                                <p>Visit Website</p>
                            </li>
                            <li>
                                <span>Payment Method</span>
                                <p>Visit Website</p>
                            </li>
                            <li>
                                <span>Licences</span>
                                <p>Visit Website</p>
                            </li>
                            <li>
                                <span>Insurance</span>
                                <p>Visit Website</p>
                            </li>
                            <li>
                                <span>Certificates</span>
                                <p>Visit Website</p>
                            </li>
                            <li>
                                <span>Pricing</span>
                                <p>Visit Website</p>
                            </li>
                            <li>
                                <span>Contract Based</span>
                                <p>Yes</p>
                            </li>
                            <li>
                                <span>Warranty</span>
                                <p>Yes</p>
                            </li>
                        </ul>
                        <div align="center">
                            <p>Company profile information is not moderated by RenoCan. Ask the contractor to verify before hiring.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="getaquote">
                <!--
                <span>Get a Quote from Unilever Pvt Ltd.</span>
                <p>All Fields are required</p>

                <form action="">
                    <fieldset>
                        <select>
                            <option value="">Choose a Topic</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Name">
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Phone">
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Postal Code">
                    </fieldset>
                    <fieldset>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Write your Message"></textarea>
                    </fieldset>
                    <fieldset>
                        <input type="file">
                    </fieldset>

                    <input type="submit" value="Submit">

                    <p>By sending this message, I agree to RenoCan's <a href="">Terms &amp; Conditions</a> and <a href="">Privacy Policy</a></p>

                </form>
                -->
                <div class="success">
                    <img src="~/Assets/images/success-icon.png" alt="">
                    <span>Your Message has been Sent</span>
                    <p>You should be expecting to hear fro Unilever Pvt Ltd. soon</p>
                </div>

            </div>


        </div>
    </div>











</body>

