
@model RenocanWeb.Models.RegistrationCompany
@*@{
        ViewBag.Title = "Company search";
    }*@


<body>
   

    <div id="searchbox">
        <div class="close"></div>
        <form action="">
            <input type="text" placeholder="Search Company here...">
            <select name="" id="">
                <option value="">Mississuaga</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>

    <div id="menubox">
        <ul>
            <li><a href="">Write a Review</a></li>
            <li><a href="">Browse Categories</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Login</a></li>
            <li><a href=""><button>Business Sign Up</button></a></li>
        </ul>
    </div>


    <div id="companysearch">
        <div class="content">
            <span>Search for Company</span>
            <form action="">
                <fieldset>
                    <input type="text" placeholder="Company Name">
                </fieldset>
                <fieldset>
                    <input type="text" placeholder="Toronto">
                </fieldset>
                <fieldset>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </fieldset>
            </form>
            <div class="result">
                <span>Results: <a href=""><b>Unilever Pvt Ltd.</b></a></span>
                <ul>
                    <li>Can't Find Company?</li>
                    <li><i class="fa fa-dot-circle-o"></i> Check the Spell of Company Name</li>
                    <li><i class="fa fa-dot-circle-o"></i> Make sure company established in Canada</li>
                    <li><i class="fa fa-dot-circle-o"></i> Make sure Company is Authentic</li>
                    <li>@Html.ActionLink("Review as a New Company", "Write_a_review", "ClientAccount")</li>
                   
                </ul>
            </div>
        </div>
    </div>


    <hr>


</body>
