<body>
    <div class="overlay"></div>

    <div id="companysearch">
        <div class="content">
            <span>Search for Company</span>
            <form method="post">
                @Html.AntiForgeryToken()
                <fieldset>
                    <input type="text" placeholder="Company Name" id="txtCompanyName" name="CompanyName">
                    <input type="hidden" id="hdnCompany" name="CompanyId" />
                    <input type="hidden" id="hdnCompany" name="CategoryId" />
                </fieldset>
                <fieldset>
                    <input type="text" placeholder="Location" id="txtLocation" name="LocationName">
                    <input type="hidden" id="hdnLocation" name="LocationId" />
                </fieldset>
                <fieldset>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </fieldset>
            </form>
            <div class="result">
                <span>Results: <a href=""><b>Unilever Pvt Ltd.</b></a></span>
                <ul>
                    <li>Can't Find Company?</li>
                    <li><i class="fa fa-dot-circle-o"></i> Check the Spell of Company Name</li>
                    <li><i class="fa fa-dot-circle-o"></i> Make sure company established in Canada</li>
                    <li><i class="fa fa-dot-circle-o"></i> Make sure Company is Authentic</li>
                    <li><i class="fa fa-dot-circle-o"></i> <a href="">Review as a New Company</a></li>
                </ul>
            </div>

        </div>

    </div>


    <hr>
</body>

<script>

    $(function () {
        $("#txtCompanyName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Common/GetCompanies',
                    data: { search: request.term },
                    dataType: "json",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item.CompanyName;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfCustomer").val(i.item.val);
            },
            minLength: 1
        });

        //for Locations
        $("#txtLocation").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Common/GetLocations',
                    data: { search: request.term },
                    dataType: "json",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item.LocationName;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfCustomer").val(i.item.val);
            },
            minLength: 1
        });


    });

</script>