
@model RenocanWeb.Models.City_ListVM
@if (Model.CityList != null && Model.CityList.Count() != 0)
{
    foreach (var item in Model.CityList.Select((value, i) => new { i = i + 1, value }))
    {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <ul>
                <li><a href="">@item.value.Location</a> <i class="@( (item.value.IsSelected == true ? "fa fa-map-marker" : ""))"></i> </li>
                
                    <li><a href="">Belleville</a></li>
                    <li><a href="">Brampton</a> <i class="fa fa-map-marker"></i> </li>
                    <li><a href="">Brant</a></li>
                    <li><a href="">Brantford</a></li>
                    <li><a href="">Brockville</a></li>
                    <li><a href="">Burlington</a></li>
                    <li><a href="">Cambridge</a></li>
                    <li><a href="">Clarence-Rockland</a></li>
                    <li><a href="">Cornwall</a></li>
                    <li><a href="">Dryden</a></li>
                    <li><a href="">Elliot Lake</a></li>
                    <li><a href="">Greater Sudbury</a></li>
                    <li><a href="">Guelph</a></li>
                    <li><a href="">Haldimand County</a></li>
                    <li><a href="">Hamilton</a></li>
                    <li><a href="">Kawartha Lakes</a></li>
                    <li><a href="">Kenora</a></li>
                    <li><a href="">Kingston</a></li>
                    <li><a href="">Kitchener</a></li>
            </ul>
        </div>
    }
}