
@{
    ViewBag.Title = "Index";
}

<body>
   
    <div id="mainbanner">
        <div class="content">
            <span class="mainheading">
                Canada's largest and most-trusted source for connecting with home professionals.
            </span>
            <span class="p">
                When I was traveling solo around Europe this summer, I used Couchsurfing to meet new people.
            </span>

            <div class="buttons">
                <a href="" class="signup">Create Account</a>
                <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="" class="googleplus"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>

        <div class="blackbar">
            <form action="">
                <input type="text" placeholder="Search Company here...">
                <select name="" id="">
                    <option value="">Mississuaga</option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>

    </div>

    <div id="mpsec">
        <div class="content">
            <span class="mainheading">
                Most Popular Categories
            </span>

            <a href="">
                <div class="box">
                    <span class="heading">
                        Architects
                    </span>
                    <img src="~/Assets/images/architects-icon.png" alt="">
                    <span class="p">
                        Companies Rated by Consumers for this Category.
                    </span>
                </div>
            </a>

            <a href="">
                <div class="box">
                    <span class="heading">
                        Home Security
                    </span>
                    <img src="~/Assets/images/home-security-icon.png" alt="">
                    <span class="p">
                        Companies Rated by Consumers for this Category.
                    </span>
                </div>
            </a>

            <a href="">
                <div class="box">
                    <span class="heading">
                        Renewable Energy
                    </span>
                    <img src="~/Assets/images/renewable-energy-icon.png" alt="">
                    <span class="p">
                        Companies Rated by Consumers for this Category.
                    </span>
                </div>
            </a>

            <a href="">
                <div class="box">
                    <span class="heading">
                        HVAC &amp; Plumbing
                    </span>
                    <img src="~/Assets/images/hvac-plumbing-icon.png" alt="">
                    <span class="p">
                        Companies Rated by Consumers for this Category.
                    </span>
                </div>
            </a>

            <a href="">
                <div class="box">
                    <span class="heading">
                        House Painters
                    </span>
                    <img src="~/Assets/images/house-painters-icon.png" alt="">
                    <span class="p">
                        Companies Rated by Consumers for this Category.
                    </span>
                </div>
            </a>

            <a href="">
                <div class="box">
                    <span class="heading">
                        Pest Control
                    </span>
                    <img src="~/Assets/images/pest-control-icon.png" alt="">
                    <span class="p">
                        Companies Rated by Consumers for this Category.
                    </span>
                </div>
            </a>

            <a href="" class="button">Browse All Categories</a>

        </div>
    </div>

    <div id="mrsec">
        <div class="content">
            <span class="mainheading">
                Most Recommended Companies of 2016
            </span>
            <div class="logos">
                <img src="~/Assets/images/brand-logo-01.png" alt="">
                <img src="~/Assets/images/brand-logo-02.png" alt="">
                <img src="~/Assets/images/brand-logo-03.png" alt="">
                <img src="~/Assets/images/brand-logo-04.png" alt="">
                <img src="~/Assets/images/brand-logo-05.png" alt="">
            </div>
        </div>
    </div>

    <div id="blogpost">
        <div class="content">
            <div class="mainimg">
                <img src="~/Assets/images/home-renovation-blog-img.png" alt="">
            </div>
            <div class="text">
                <div class="mainheading">
                    Home Renovation Ideas
                </div>

                <article>
                    “ Have you really given any serious thought to whether or not you are qualified to make these repairs at home? Even if it’s only replacing a wall socket or a wax ring on a toilet touching the wrong wire or leaving a loose screw can open a. Pandora’s Box that you do not want to open make sure to keep you informed about the renovation. The following tips and facts could be very useful. When you want to reduce your utility bills an easy way to improve your home and save money is to check your home for leaky faucets and pipes. In this way you can avoid the waste of water just dripping your sinks and lower your costs over the duration of the year. ” <a href="" class="readmore">Read More →</a>
                </article>

                <ul>
                    <li>Ubaid H. Chohan</li>
                    <li>Thursday, October 03, 2016</li>
                    <li>10:04 AM</li>
                </ul>

                <a href="" class="visit"><i class="fa fa-plus-circle"></i> Visit Our Blog</a>

            </div>
        </div>
    </div>

    <div id="howitworks">
        <div class="content">
            <span class="mainheading">
                How does it Work?
            </span>

            <div class="box">
                <span class="step">First Step</span>
                <span class="heading">Sign Up</span>
                <div class="bottom">
                    <span class="info">Create your Profile to Initiate</span>
                    <a href=""><i class="fa fa-plus-circle"></i> Get Started with First Step</a>
                </div>
            </div>

            <div class="box">
                <span class="step">Second Step</span>
                <span class="heading">Review</span>
                <div class="bottom">
                    <span class="info">Write Review to your Desired Company</span>
                    <a href=""><i class="fa fa-plus-circle"></i> Search Company</a>
                </div>
            </div>

            <div class="box">
                <span class="step">Third Step</span>
                <span class="heading">Approval</span>
                <div class="bottom">
                    <span class="info">Get your Review Approved</span>
                    <a href=""><i class="fa fa-plus-circle"></i> Check your Account Area</a>
                </div>
            </div>

            <div class="box">
                <span class="step">Fourth Step</span>
                <span class="heading">Go, Live</span>
                <div class="bottom">
                    <span class="info">Watch your Review Live</span>
                    <a href=""><i class="fa fa-plus-circle"></i> Check Your Reviews</a>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div id="aboutus">
        <div class="content">
            <span class="mainheading">
                About Us
            </span>

            <p>At RenoCAN® we make it possible for everyone to create a unique and personal look by introducing a large range of different fabrics, lovely patterns and beautiful colors.</p>

            <ul>
                <li><a href=""><img src="~/Assets/images/google-plus-icon.png" alt=""></a></li>
                <li><a href=""><img src="~/Assets/images/facebook-icon.png" alt=""></a></li>
                <li><a href=""><img src="~/Assets/images/twitter-icon.png" alt=""></a></li>
            </ul>

        </div>
    </div>

</body>


