
@model RenocanWeb.Models.Locations
@{
    ViewBag.Title = "Client_City";

}
@using RenocanWeb.Common;

<div class="overlay"></div>

<div id="cities">
    <div class="content">
        <span>Select City:</span>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @if (Model.locationlist != null && Model.locationlist.Count() != 0)
                {
                    foreach (var item in Model.locationlist.Select((value, i) => new { i = i + 1, value }))
                    {

                        <ul>
                            <li><a href="">@item.value.Location_Name </a> <i class="fa fa-map-marker"></i></li>
                          
                        </ul>
                    }
                }
            </div>

            @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li><a href="">Stratford</a></li>
                        <li><a href="">Temiskaming Shores</a></li>
                        <li><a href="">Thorold</a></li>
                        <li><a href="">Thunder Bay</a></li>
                        <li><a href="">Timmins</a></li>
                        <li><a href="">Toronto</a></li>
                        <li><a href="">Vaughan</a></li>
                        <li><a href="">Waterloo</a></li>
                        <li><a href="">Welland</a></li>
                        <li><a href="">Windsor</a></li>
                        <li><a href="">Woodstock</a></li>
                    </ul>
                </div>*@

        </div>
    </div>
</div>




