
@model RenocanWeb.Models.Login

@*@{
        ViewBag.Title = "Client_forgot_password";
    }*@



<body>
    <div class="overlay"></div>


   

    <div id="signing">
        <div class="content">
            <form method="post">
                @Html.AntiForgeryToken()
                <p>Please Enter your Email to Receive Url to Create your New Password.</p>
                <fieldset>
                    <label for="">Email Address</label>
                    <input type="email" id="txtEmail"> 


                </fieldset>
                <input type="submit" value="Send me the Link">

                <div class="error"><span><i class="fa fa-times"></i>Email Do Not Match</span></div>
            </form>
        </div>
    </div>

</body>
