


@model RenocanWeb.Models.RegistrationCompany
@*@{
        ViewBag.Title = "Client_Information";
    }*@


<body>

    <div id="dashboard">
        <div class="content">
            <div class="left">
                <div class="profile">
                    <img src="images/user-profile-img.jpg" alt="">
                    <div class="details">
                        <span class="name">
                            Catherine Dobre
                        </span>
                        <span class="city">
                            Toronto
                        </span>
                        <span class="upload">
                            <button type="file" name="image"><i class="fa fa-camera"></i> Upload Profile</button>
                            <!--<button type="file" name="image" class="remove"><i class="fa fa-times-circle"></i> Remove Picture</button>-->
                            <span>.jpg .png allowed only max: 2mb</span>
                        </span>
                    </div>
                </div>

                <div class="menu">
                    <ul>
                        <li><i class="fa fa-clock-o"></i>@Html.ActionLink("Activity", "Client_activity", "ClientAccount")</li>
                        <li><i class="fa fa-comments"></i>@Html.ActionLink("My Review", "Client_review", "ClientAccount")</li>
                        <li><a href=""><i class="fa fa-user"></i> Account Information</a></li>
                        <li><a href=""><i class="fa fa-sign-out"></i> Log Out</a></li>
                    </ul>
                </div>
            </div>

            <div class="right">
                <span class="heading"><i class="fa fa-user"></i> Account Information</span>

                <div class="accountinfo">
                    <form action="">
                        <span class="title">Personal Details</span>
                        <div class="error"><span><i class="fa fa-times"></i> Please Enter the Required Fields.</span></div>
                        <fieldset>
                            <input type="text" placeholder="First Name">
                        </fieldset>
                        <fieldset>
                            <input type="text" placeholder="Last Name">
                        </fieldset>
                        <fieldset>
                            <input type="text" placeholder="City">
                        </fieldset>
                        <fieldset>
                            <input type="text" placeholder="State">
                        </fieldset>
                        <fieldset>
                            <input type="email" placeholder="Email Address">
                        </fieldset>
                        <fieldset>
                            <input type="text" placeholder="Phone">
                        </fieldset>

                        <span class="title">Credentials Details</span>
                        <fieldset>
                            <input type="password" placeholder="New Password">
                        </fieldset>
                        <fieldset>
                            <input type="password" placeholder="Confirm Password">
                        </fieldset>
                        <div class="newsletter">
                            <input type="checkbox"> Sign up to RenoCan Newsletter.
                        </div>
                        <input type="submit" value="Save Changes">
                        <div class="success"><span><i class="fa fa-check-circle"></i> Your Changes have been Updated</span></div>
                    </form>
                </div>

            </div>

        </div>
    </div>

</body>
