


@model RenocanWeb.Models.RegistrationCompany

@*@{
        ViewBag.Title = "Client_job_request";
    }*@







<body>
    <div id="jobrequest">
        <div class="content">
            <span>Job Requests</span>
            <p>All job requests from Users displays here</p>

            <div class="messages">
                <div class="box">

                    <a href="http://localhost:1844/ClientAccount/Client_job_request_detail">

                        <div class="name">
                            <span>David Thompson</span>
                            <p>Pending - Insulation</p>
                        </div>
                        <div class="cta">
                            <span>Jan - 17th 2017 &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
                        </div>
                    </a>
                </div>
                <div class="box approved">
                   
                        <a href="http://localhost:1844/ClientAccount/Client_job_request_detail">

                            <div class="name">
                                
                                    <span>David Thompson</span>
                            
                                <p class="green">Approved - Insulation</p>
                            </div>
                            <div class="cta">
                                <span>Jan - 17th 2017 &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
                            </div>
                        </a>
                    
                </div>
                <div class="box">
                    <a href="http://localhost:1844/ClientAccount/Client_job_request_detail">
                        <div class="name">
                            <span>David Thompson</span>
                            <p>Pending - Insulation</p>
                        </div>
                        <div class="cta">
                            <span>Jan - 17th 2017 &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
                        </div>
                    </a>
                </div>
                <div class="box">
                    <a href="http://localhost:1844/ClientAccount/Client_job_request_detail">
                        <div class="name">
                            <span>David Thompson</span>
                            <p>Pending - Insulation</p>
                        </div>
                        <div class="cta">
                            <span>Jan - 17th 2017 &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>


</body>

